[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/academic"]
	path = themes/academic
	url = git@github.com:gcushen/hugo-academic.git
